@media screen and (max-width: 560px) {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }

    .oeskyimg {
        height: 200px;
    }

    .oeskyimgig {
        height: 300px;
    }
}