@media screen and (max-width: 560px) {
    .basedobotao {
        display: none;
    }

    .casas {
        position: fixed;
        height: 20px;
        max-height: 20px;
        max-width: 20px;
        width: 20px;
        top: -25px;
    }

    ::placeholder {
        font-family: pou;
    }

    .voltarmobile {
        display: block;
        position: absolute;
        left: 0;
        top: 55px;
        margin-left: 5px;
        cursor: pointer;
        z-index: 1;
    }

    .pvisita {
        font-size: 70px;
    }

    .forme {
        filter: drop-shadow(2px 2px 7px black);
        width: 300px;
        height: auto;
        top: 100px;
    }

    .div-mail {
        display: flex;
        flex-direction: column;
    }

    .div-mail > input[type='email'] {
        margin-left: 40px;
        margin-right: 40px;
    }
    body {
        overflow: hidden;
    }

    header {
        position: fixed;
        top: 0;
        padding: 40px;
    }

    .divheader {
        margin-left: -70px;
    }
}