* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../images/bg/bg-neve-natal.png);
    background-size: 120px;
}

@font-face {
    font-family: pou;
    src: url(../../arquivos/pou.ttf);
}

header {
    padding: 25px;
    text-align: center;
    background-color: #00c231ad;
    color: white;
    font-family: pou;
    font-size: 60px;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
}

.branca {
    padding: 1px;
    background-color: white;
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    position: relative;
    top: 140px;
}

footer {
    display: none;
}

img {
    transition: all .3s;
}

img:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.tiktok {
    filter: drop-shadow(#ff4a68 2px 2px 2px);
    transition: all .3s;
}

.reddit {
    filter: drop-shadow(orangered 2px 2px 2px);
    transition: all .3s;
}

.insta {
    filter: drop-shadow(purple 2px 2px 2px);
    transition: all .3s;
}

.youtube {
    filter: drop-shadow(red 2px 2px 2px);
    transition: all .3s;
}

/* hover */

.tiktok:hover {
    filter: drop-shadow(#ff4a68 2px 2px 14px);
    transition: all .3s;
}

.reddit:hover {
    filter: drop-shadow(orangered 2px 2px 14px);
    transition: all .3s;
}

.insta:hover {
    filter: drop-shadow(purple 2px 2px 14px);
    transition: all .3s;
}

.youtube:hover {
    filter: drop-shadow(red 2px 2px 14px);
    transition: all .3s;
}

.basedobotao {
    display: flex;
    position: relative;
    top: 250px;
    text-align: center;
    justify-content: center;
}

.mais {
    position: absolute;
    top: 25px;
    left: 0;
    margin-left: 15px;
    animation: escala;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.mais:hover {
    transform: scale(1.2);
}

@keyframes escala {
    0% {
        transform: scale(1);
        transition: all .3s;
    }
    100% {
        transform: scale(1.1);
        transition: all .3s;
    }
}