* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pou;
    src: url(../../arquivos/pou.ttf);
}

body {
    background-image: url(../../../../images/bg/xd-b.png);
    background-size: 120px;
    overflow: hidden;
}

header {
    background-color: #18418f7b;
    font-family: pou;
    color: #c4deff;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
    padding: 15px;
    text-align: center;
    font-size: 60px;
}

.idiomas {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 90px;
    gap: 80px;
}

.espanhol, .ingles, .base-botao {
    transition: all .3s;
}

.espanhol:hover, .ingles:hover, .base-botao:hover {
    transform: scale(1.1);
    transition: all .3s;
}

.desativado {
    cursor: not-allowed;
    opacity: 50%;
}

.botao {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 200px;
}