* {
    margin: 0;
    padding: 0;
    font-family: century;
}

@font-face {
    font-family: century;
    src: url(../../../../arquivos/century-gothic.ttf);
}

@font-face {
    font-family: pou;
    src: url(../../../../arquivos/pou.ttf);
}

body {
    background-image: url(../../../../images/bg/bg-natal.png);
    background-size: 290px;
}

.todos {
    display: flex;
    justify-content: center;
    top: 100px;
    position: relative;
}

.todos button {
    background-color: gold;
    border-radius: 40px;
    padding: 10px;
    font-family: pou;
    cursor: pointer;
    color: #800000;
    border: none;
    filter: drop-shadow(0 0 15px gold);
    animation-name: piscabotao;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes piscabotao {
    0% {
        filter: drop-shadow(0 0 5px gold);
    }
    100% {
        filter: drop-shadow(0 0 15px gold);
    }
}

@keyframes piscabotaohover {
    0% {
        filter: drop-shadow(0 0 5px #006c00);
    }
    100% {
        filter: drop-shadow(0 0 15px #006c00);
    }
}

.todos button:hover {
    background-color: #006c00;
    animation-name: piscabotaohover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

header {
    text-align: center;
    background-color: #00c2317b;
    padding: 15px;
}

header strong {
    font-family: pou;
    font-size: 60px;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
}

.paragrafos {
    margin-left: 10px;
    position: relative;
    top: 10px;
    font-weight: bold;
}

p {
    color: white;
    background-color: #00c2317b;
    text-shadow: 0 0 2px gold;
}

nav {
    font-family: century;
}

nav > ul {
    list-style-type: none;
}

nav > button {
    background-color: transparent;
    border: none;
    position: relative;
    top: -50px;
    float: left;
    cursor: pointer;
}

#teatro {
    width: 60px;
    height: 40px;
}

nav a {
    display: block;
    text-decoration: none;
}

.menu-mobile {
    cursor: pointer;
    position: relative;
    top: -50px;
}

.div-imagem-pt {
    text-align: center;
    position: relative;
    top: 20px;
}

.div-privados {
    right: 0;
    position: absolute;
    top: 25px;
    margin-right: 5px;
}

#casa {
    margin-left: 30px;
}

.div-ajudas {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
}

.ajudaopcao {
    background-color: rgb(0, 124, 10);
    position: relative;
    top: 40px;
    padding: 10px;
    width: 350px;
    font-family: century;
    border: black 2px solid;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-left: black 4px solid;
    border-right: black 4px solid;
    color: black;
}

#helpdiv, #helpdiv5 {
    border-top: none;
}

#helpdiv1 {
    border-top: black 4px solid;
}

#helpdiv5 {
    border-bottom: black 4px solid;
}

.ajudaopcao:hover {
    background-color: #e4f7ff;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.colmeia {
    display: flex;
    flex-wrap: wrap;
    width: 490px; /* (70px + 10px de margem) * 7 colunas */
}

.quadrado {
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: #8d0000;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    justify-content: center;
    border: 1px solid gold;
}


.quadrado:hover {
    background-color: #cb0303;
    filter: drop-shadow(0 0 10px gold);
}

.quadrada:hover {
    background-color: #2cdb00;
    filter: drop-shadow(0 0 10px gold);
}

.quadrada {
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: #00a216;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    text-decoration: none;
    color: #42c600;
    justify-content: center;
    border: 1px solid gold;
}

.imagem {
    margin-top: 10px;
    transition: all .3s;
}

.imagem:hover  {
    transform: scale(1.1);
    transition: all .3s;
}

footer {
    color: transparent;
    user-select: none;
    position: relative;
    top: 150px;
}

#imgcaixa {
    position: relative;
    top: 10px;
}

@media screen and (max-width:1920px) {
    .ajudaopcao {
        background-color: rgb(134, 134, 134);
        position: relative;
        top: 40px;
        padding: 10px;
        width: 68px;
        height: 50px;
        font-family: century;
        border: black 2px solid;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        border-left: black 4px solid;
        border-right: black 4px solid;
        font-size: 30px;
    }

    .ajudaopcao:hover {
        font-size: 33px;
    }
}

@media screen and (max-width: 680px){
    .ajudaopcao {
        background-color: rgba(64, 230, 255, 0.596);
        position: relative;
        top: 40px;
        padding: 10px;
        width: 350px;
        height: 30px;
        font-family: century;
        border: black 2px solid;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        border-left: black 4px solid;
        border-right: black 4px solid;
        font-size: 17px;
    }

    .ajudaopcao:hover {
        background-color: #e4f7ff;
        font-size: 18px;
    }
}