* {
    margin: 0;
    padding: 0;
    font-family: century;
}

@font-face {
    font-family: century;
    src: url(../../arquivos/century-gothic.ttf);
}

@font-face {
    font-family: pou;
    src: url(../../arquivos/pou.ttf);
}

.base-botao {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    top: 50px;
    z-index: 999;
}

.base-botao > a, .base-botaoo > a > img {
    transition: all .3s;
}

.base-botao > a:hover, .base-botaoo > a > img:hover {
    transition: all .3s;
    scale: 1.1;
}

.casa {
    margin-left: 30px;
}

body {
    background-image: url(../../images/bg/bg-na.png);
    background-size: 120px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.env {
    background-color: turquoise;
    padding: 8px;
    border: 1px solid #28c9b9;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.env:hover {
    background-color: #66ede0;
}

.env:active {
    background-color: rgb(66, 82, 255);
}

.nm {
    border: none;
    margin-left: 3px;
}

.titulo {
    cursor: pointer;
    background-image: linear-gradient(95deg, #ff0000, #b50000);
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    filter: drop-shadow(1px 1px 2px black);
}

.titulo:hover {
    background-color: #ff6a6a;
}


.texto-trava {
    text-align: center;
    margin-left: 0%;
}

.div-label-mensagem {
    margin-top: 5px;
}

textarea {
    resize: none;
    border: cadetblue 1px solid;
}

.ne, .nc{
    border: black 1px solid;
    width: 160px;
}

.nf {
    border: none;
    margin-left: 5px;
}

#textarea {
    margin-top: 5px;
    width: 200px;
    text-align: justify;
}



.formulario-inside {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    position: relative;

    color: transparent;
    user-select: none;
}

.conteudo {
    display: none;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ffffff;
    background-image: transparent;
    text-align: center;
    max-height: 300px;
    transition: all .3s;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: none;
}

.tudo {
    position: relative;
    top: 50px;
}

.forme-youtube {
    font-family: century;
    width: auto;
    height: auto;
    background-image: linear-gradient(95deg, #ff0000, #b50000);
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    border-radius: 40px;
    color: white;
    border: 4px white solid;
}

#tlig {
    background-image: linear-gradient(45deg, purple, #ff506d, orangered, orange, gold);
}

.forme-youtube-sh {
    font-family: century;
    width: auto;
    height: auto;
    background-image: linear-gradient(95deg, #ff0000, #b50000);
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    border-radius: 40px;
    color: white;
    border: 4px white solid;
}

.forme-insta {
    font-family: century;
    width: auto;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    border-radius: 40px;
    background-image: linear-gradient(45deg, purple, #ff506d, orangered, orange, gold);
    color: white;
    border: 4px white solid;

}
    
    textarea, input[type='email'] {
        resize: none;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
    }
    
    .div-sugestaoproximovideo {
        margin-top: 5px;
    }
    
    .env-yt {
        margin-top: 30px;
        background-color: red;
        border: 2px solid white;
        padding: 10px;
        font-family: century;
        color: white;
        border-radius: 40px;
        transition: all .3s;
        cursor: pointer;
        margin-bottom: 5px;
    }
    
    .env-ig {
        margin-top: 20px;
        background-color: purple;
        border: 2px solid white;
        padding: 10px;
        font-family: century;
        color: white;
        border-radius: 40px;
        transition: all .3s;
        cursor: pointer;
        margin-bottom: 5px;
    }
    
    .env-ig:hover{
        transition: all .3s;
        transform: scale(1.1);
        background-color: white;
        color: purple;
        filter: drop-shadow(0 0 12px white);
    }
    
    .env-yt:hover {
        transition: all .3s;
        transform: scale(1.1);
        background-color: white;
        color: red;
        filter: drop-shadow(0 0 12px white);
    }
