* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: pou;
    src: url(../../../arquivos/pou.ttf);
}

@font-face {
    font-family: century;
    src: url(../../../arquivos/century-gothic.ttf);
}

body {
    background-image: url(../../../images/bg/xd.png);
    background-size: 120px;
}

.frases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
}

p {
    font-weight: bold;
    font-family: century;
    text-align: center;
}

.oesky {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;
}

h1 {
    text-align: center;
    font-family: pou;
    color: white;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
}

.basedobotao {
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
    top: 90px;
    z-index: 1;
}