@media screen and (max-width:560px) {
    .forme-youtube, .forme-youtube-sh, .forme-insta {
        width: 280px;
    }

    .circuloyt, .circuloig {
        margin-left: 31%;
    }

    .forme-youtube {
        top: 90px;
    }

    .forme-youtube-sh {
        top: 170px;
    }

    .forme-insta {
        top: 250px;
    }

    .basedobotao {
        top: 300px;
    }

    .sobre {
        flex-direction: column;
        top: -20px;
    }

    footer {
        top: 450px;
    }
}