* {
    margin: 0;
    padding: 0;
    font-family: century;
}

@font-face {
    font-family: century;
    src: url(../../../../arquivos/century-gothic.ttf);
}

@font-face {
    font-family: pou;
    src: url(../../../../arquivos/pou.ttf);
}

.cetro {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    position: fixed;
    z-index: -999;
    top: -20px;
}

.casa {
    margin-left: 20px;
}

.visfall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -999;
}

.snowflake {
    position: absolute;
    background: transparent url('../../../../images/botoes-index/visita-btn.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(120vh);
    }
}

body {
    background-image: url(../../../../images/bg/bg-natal.png);
    background-size:230px;
    height: 100vh;
    overflow-y: auto;
    max-height: 100%; 
}

.titulo {
    cursor: pointer;
    background-color: #026300;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    filter: drop-shadow(1px 1px 2px black);
    border: 1px solid gold;
}

.titulo:hover {
    background-color: #0e930b;
}

header {
    padding: 30px;
    background-color: #e5ff006e;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: pou;
    text-align: center;
    margin: 0;
    justify-content: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
}

.divbranca {
    background-color: white;
    padding: 2px;
}

.env, .env-rev, .env-rev-vis {
    background-color: #00c231;
    padding: 8px;
    border: 1px solid #005b1d;
    border-radius: 40px;
    margin-top: 10px;
}

.env:hover {
    background-color: gold;
}

.env:active {
    background-color: black;
}

.env-rev {
    background-color: yellow;
    border: none;
}

.env-rev-vis{
    background-color: #39ac00;
    border: #780000 2px solid;
}

.env-rev-vis:hover {
    background-color: #00a12b;
    color: gold;
}

.env-rev:hover {
    background-color: #ffee00;
}

.env-rev:active{
    background-color: rgb(171, 0, 0);
    color: white;
}

#div6 > form {
    margin-top: 5px;
    text-align: center;
}

.div-nick {
    margin-top: 8px;
}

.div-nick, .div-mail {
    display: flex;
    margin-left: 25%;
}

.nm {
    border: none;
    margin-left: 3px;
}

button {
    cursor: pointer;
}

#div4 > form {
    margin-top: -13px;
}

#div5 > form {
    text-align: center;
}

.texto-trava {
    text-align: center;
    margin-left: 0%;
}

.div-label-mensagem {
    margin-top: 5px;
}

textarea {
    resize: none;
    border: cadetblue 1px solid;
}

footer {
    position: relative;
    margin-top: 50px;
    color: transparent;
    user-select: none;
}

.div-label-nick-corrigido {
    display: flex;
    flex-direction: column;
}

.div-nick-correcao {
    text-align: center;
    margin-top: 5px;
}

.ne, .nc{
    border: black 1px solid;
    width: 160px;
}

.nf {
    border: none;
    margin-left: 5px;
}

.ne {
    background-color: #fc8c8c;
    color: black;
    border: 2px solid #660000;
}

.nc {
    background-color: lime;
    color: black;
    border: 2px solid green;
}

.nc::placeholder, .ne::placeholder {
    color: black;
}

#div4, #div3{
    text-align: center;
}

#div4 > p, #div3 > p {

    text-align: left;
}

#textarea {
    margin-top: 5px;
    width: 200px;
    text-align: justify;
}

.formulario-revisao {
    background-color: #ffe100;
    width: 400px;
    text-align: center;
    border-radius: 40px;
    filter: drop-shadow(4px 4px 10px rgb(255, 234, 0));
}

.base-formulario {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nf {
    border: none;
    margin-left: 5px;
}

.formulario-inside {
    margin-top: 10px;
    margin-bottom: 10px;
}

.base-botao {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    z-index: 999;
    position: relative;
}

.base-botao > a > img {
    transition: all .3s;
    z-index: 999;
}

.base-botao > a > img:hover {
    transition: all .3s;
    scale: 1.1;
}

body {
    overflow-x: hidden;
}

.animar-div {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.p-inicial {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
    text-align: justify;
}

.conteudo {
    display: none;
    padding: 10px;
    background-color: #c10000;
    border: gold solid 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: justify;
    max-height: 300px;
    overflow-y: auto;
    transition: all .3s;
    color: white;
}

input[type='checkbox']{
    cursor: pointer;
}

.base-opcoes {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.base-opcoes > input[type='button'] {
    text-align: center;
}

.principal-opcoes {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.div-botao-opcoes {
    text-align: center;
}

.botao-opcoes {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 40px;
    background-color: rgb(255, 213, 0);
    color: #800000;
}

#campoPalavras3 {
    border: none;
    background-color: #c10000;
}

#campoPalavras3::placeholder {
    color: gold;
}

textarea, #campoEmailb {
    background-color: #c10000;
    color: gold;
}

input {
    color: gold;
}

textarea {
    border: 1px solid gold;
}

input::placeholder {
    color: gold;
}

#campoEmailg, #campoTextog, #campoEmailg::placeholder, #campoTextog::placeholder {
    color: #800000;
    background-color: #ffe100;
    border: none;
}

a {
    color: gold;
}

.botao-opcoes:hover {
    background-color: black;
}

.botao-opcoes:active {
    background-color: red;
}

#selecaoTotal:checked ~ .checkmark  {
    background-color: lime;
}

  .base-p {
    text-align: left;
    margin-top: 2px;
  }

  .div-nick-visita-more1ms > input[type='text'] {
    border: black 1px solid;
  }

  .div-nick-visita-more1ms > input[type='text']::placeholder {
    text-align: center;
  }

  #div6 .base-opcoes, #div6 p {
    text-align: left;
  }

  .p-de-baixo {
    margin-top: 11px;
  }

  .toplike-conteudo, .toplike-conteudo-oesky {
    background: linear-gradient(45deg, rgba(32, 193, 0, 0.671), rgb(0, 109, 43)),
              linear-gradient(135deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)),
              #f0f0f0;
    font-family: pou;
    color: #fff;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border: gold 1px solid;
    cursor: pointer;
  }

  .menu-toplike p {
        margin-left: 5px;
        margin-bottom: 5px;

  }

  #voltar {
    z-index: 1;
  }

  .toplike-conteudo-oesky {
    opacity: 50%;
    cursor: not-allowed;
  }

  .menu-toplike {
    text-align: justify;
    border: black 2px solid;
    border-top: none;
    display: none;
  }

  .botao-submit {
    text-align: center;
    margin-bottom: 30px;
  }

  .toplike-conteudo:hover {
    background: linear-gradient(45deg, #ffc400ab, #ff00f2),
    linear-gradient(135deg, #00000033, #00000033),#f0f0f0;
  }