@media screen and (max-width: 770px) {
    .basebotao, .basecasa {
        display: none;
    }

    label, p {
        font-size: 18px;
    }

    input[type='email'], textarea{
        width: 200px;
    }

    input[type='email']{
        height: 20px;
    }

    button{
        padding: 5px;
        font-size: 16px;
    }

    form {
        position: relative;
        top: 0px;
    }

    .oesky > img {
        height: 300px;
    }

    .basebotoes {
        display: flex;
        position: relative;
        justify-content: center;
        gap: 70px;
    }

    .vlt {
        position: relative;
        animation-name: flutuando6;
        animation-duration: 6s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        left: 20px;
        top: 600px;
        height: 300px;
    }
    
    @keyframes flutuando3 {
        0% {
            top: 630px;
        }
        100% {
            top: 610px;
        }
    }

    .ksa {
        right: 20px;
        position: relative;
        animation-name: flutuando6;
        animation-duration: 6s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        top: 600px;
    }
    
    @keyframes flutuando4 {
        0% {
            top: 710px;
        }
        100% {
            top: 730px;
        }
    }

    .ksa  img {
        height: 110px;
    }

    .vlt img {
        height: 100px;
    }

    .vlt {
        float: left;
        margin-left: -60px;
    }

    .ksa {
        float: right;
        margin-right: -60px;
    }

    #divErro {
        font-size: 15px;
    }

}
