* {
    margin: 0;
    padding: 0;
    font-family: century;
}

@font-face {
    font-family: century;
    src: url(../../arquivos/century-gothic.ttf);
}

@font-face {
    font-family: pou;
    src: url(../../arquivos/pou.ttf);
}

.cetro {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    position: fixed;
    z-index: -999;
    position: -20px;
}

.casa {
    margin-left: 20px;
}

body {
    background-image: url(../../images/bg/xd.png);
    background-size: 90px;
    height: 100vh;
    overflow-y: auto;
    max-height: 100%; 
}

.titulo {
    cursor: pointer;
    background-color: #004c63;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    filter: drop-shadow(1px 1px 2px black);
}

.titulo:hover {
    background-color: #327b92;
}

header {
    padding: 30px;
    background-color: #0000006e;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: pou;
    text-align: center;
    margin: 0;
    justify-content: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
}

.divbranca {
    background-color: white;
    padding: 2px;
}

footer {
    position: relative;
    margin-top: 50px;
    color: transparent;
    user-select: none;
}

.conteudo {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border: #004c63da solid 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: justify;
    max-height: 300px;
    overflow-y: auto;
    transition: all .3s;
}

.base-botao {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.base-botaoo {
    position: relative;
    top: 150px;
    text-align: center;
}

.base-botao > a > img, .base-botaoo > a > img {
    transition: all .3s;
}

.base-botao > a > img:hover, .base-botaoo > a > img:hover {
    transition: all .3s;
    scale: 1.1;
}


.p-inicial {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
    text-align: justify;
}
