* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: century;
    src: url(../../arquivos/century-gothic.ttf);
}

@font-face {
    font-family: pou;
    src: url(../../arquivos/pou.ttf);
}

body {
    background-image: url(../../images/bg/xd.png);
    background-size: 120px;
}

header {
    text-align: center;
    background-color: #00f7ff7b;
    padding: 15px;
}

header strong {
    font-family: pou;
    font-size: 60px;
}

.cetro {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    position: fixed;
    top: -20px;
}
.snowfall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snewflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background: #ffffffac;
    border-radius: 50%;
    opacity: 0.8;
    animation: snowfall linear infinite;
}

.snewflake {
    position: absolute;
    background: #ffffff61;
    border-radius: 50%;
    opacity: 0.8;
    animation: snowfall linear infinite;
}

.snewfleke {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.8;
    animation: snowfall linear infinite;
}

.snewflekes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


@keyframes snowfall {
    to {
        transform: translateY(100vh);
    }
}

body {
    overflow-y: auto;
}

p {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
    font-family: century;
}

nav {
    font-family: century;
}

nav > ul {
    list-style-type: none;
}

nav > button {
    background-color: transparent;
    border: none;
    position: relative;
    top: -50px;
    float: left;
    cursor: pointer;
}

nav a {
    display: block;
    text-decoration: none;
}

.menu-mobile {
    cursor: pointer;
    position: relative;
    top: -50px;
}

.menu-mobile span {
    display: block;
    z-index: 999;
    width: 32px;
    height: 3px;
    border-radius: 30px;
    border: solid 3px black;
    background-color: white;
    margin: 5px;
    position: relative;
}

nav > ul {
    display: none;
}

#nac.ative #menu {
    display: flex;
}

.div-imagem-pt {
    text-align: center;
    position: relative;
    top: 120px;
}

.div-privados {
    right: 0;
    position: absolute;
    top: 25px;
    margin-right: 5px;
}

.div-ajudas {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.3s;
    top: 430px;
    font-family: pou;
  }

footer {
    position: relative;
    top: 150px;
    color: transparent;
}

.ajudaopcao {
    background-color: rgba(64, 230, 255, 0.596);
    position: relative;
    top: 40px;
    padding: 10px;
    width: 350px;
    font-family: century;
    border: black 2px solid;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-left: black 4px solid;
    border-right: black 4px solid;
    color: black;
}

#helpdiv, #helpdiv5 {
    border-top: none;
}

#helpdiv1 {
    border-top: black 4px solid;
}

#helpdiv5 {
    border-bottom: black 4px solid;
}

.ajudaopcao:hover {
    background-color: #e4f7ff;
    font-size: 18px;
}

.imagem {
    transition: all .3s ease;
}

.imagem:hover {
    transition: all .3s;
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

@media screen and (max-width:1920px) {
    .ajudaopcao {
        background-color: rgba(64, 230, 255, 0.596);
        position: relative;
        top: 40px;
        padding: 10px;
        width: 950px;
        height: 50px;
        font-family: century;
        border: black 2px solid;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        border-left: black 4px solid;
        border-right: black 4px solid;
        font-size: 30px;
    }

    .ajudaopcao:hover {
        font-size: 33px;
    }
}

@media screen and (max-width: 680px){
    .ajudaopcao {
        background-color: rgba(64, 230, 255, 0.596);
        position: relative;
        top: 40px;
        padding: 10px;
        width: 350px;
        height: 30px;
        font-family: century;
        border: black 2px solid;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        border-left: black 4px solid;
        border-right: black 4px solid;
        font-size: 17px;
    }

    .ajudaopcao:hover {
        background-color: #e4f7ff;
        font-size: 18px;
    }
}