@media screen and (max-width: 400px) {
    .divvoltar {
        display: none;
    }

    .voltarmobile {
        display: flex;
        position: relative;
        top: 80px;
        justify-content: center;
    }
}