.snowfakes {
    position: absolute;

    pointer-events: none;
}

.snowfake {
    position: absolute;
    background: #2ea1ffac;

    height: 15px;
    animation: snowfalll linear infinite;
}
.snowfakes {
    position: absolute;

    pointer-events: none;
}

.snowfake {
    position: absolute;
    background: #ffd500;

    height: 15px;
    animation: snowfalll linear infinite;
}

@keyframes snowfalll {
    to {
        transform: translateY(140vh);
    }
}

body {
    overflow-x: hidden;
    overflow-y: 600px;;
}

.cetro {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    position: fixed;
    position: -20px;
}


#botao:disabled {
    opacity: 50%;
    cursor: default;
}

@keyframes snowfalll {
    to {
        transform: translateY(140vh);
    }
}

body {
    overflow-x: hidden;
    overflow-y: 600px;;
}

.cetro {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    position: fixed;
    top: -20px;
}

#botao:disabled {
    opacity: 50%;
    cursor: default;
}
