#divErra, #divErro, #divErrob, #divErrod, #divErroe, #divErrof, #divErrog, #divErrop, #divErroq {
    color: red;
    font-weight: bold;
    font-family: pou;
    margin-top: 5px;
    z-index: 999;
    margin-left: 5px;
}


@font-face {
    font-family: pou;
    src: url(../../../../arquivos/pou.ttf);
}