* {
    margin: 0;
    padding: 0;
    font-family: century;
}

@font-face {
    font-family: century;
    src: url(arquivos/century-gothic.ttf);
}

body {
    background-image: url(images/xd.png);
    background-size: 120px;
}

header {
    text-align: center;
    background-color: #00f7ff7b;
    padding: 15px;
}

header strong {
    font-family: pou;
    font-size: 60px;
}

p {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
    font-family: century;
}

nav {
    font-family: century;
}

nav > ul {
    list-style-type: none;
}

nav > button {
    background-color: transparent;
    border: none;
    position: relative;
    top: -50px;
    float: left;
    cursor: pointer;
}

nav a {
    display: block;
    text-decoration: none;
}

.menu-mobile {
    cursor: pointer;
    position: relative;
    top: -50px;
}

.menu-mobile span {
    display: block;
    z-index: 999;
    width: 32px;
    height: 3px;
    border-radius: 30px;
    border: solid 3px black;
    background-color: white;
    margin: 5px;
    position: relative;
}

.div-principal, .div-principal2, .div-principal3, .div-principal4, .div-principal5 {
    display: flex;
    position: relative;
    top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.div-principal2 {
    top: 120px;
}

.div-principal3 {
    top: 190px;
}

.div-principal4 {
    top: 260px;
}

.div-principal5 {
    top: 330px;
}

footer {
    position: relative;
    top: 480px;
    color: transparent;
}

.input-field {
    position: relative;
    top: 10px;
    text-align: center;
}

.button {
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;
}

input[type='number']{
    width: 55px;
    border: none;
}

#generate {
    position: relative;
    top: 20px;
    background-color: turquoise;
    padding: 7px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
}

.container1 {
    background-color: white;
    width: 420px;
    height: 190px;
    border-radius: 50px;
}

#result {
    position: relative;
    top: 30px;
    font-size: 40px;
    text-align: center;
}

#generate:active {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    position: relative;
    top: 410px;
    text-align: center;
    color: black;
}

.seta {
    text-align: center;
    font-size: 120px;
    font-weight: bold;
}