.fall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.letraamai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/A-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrabmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/B-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letracmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/C-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.cedilhamai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/Ç-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

/* eu vou colocar o cedilha minúsculo junto para não me confundir :3 */

.cedilhamin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/Ç-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

/* voltando */

.letradmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/D-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraemai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/E-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrafmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/F-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letragmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/G-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrahmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/H-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraimai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/I-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrajmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/J-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrakmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/K-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letralmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/L-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.lettrammai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/M-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letranmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/N-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrannmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/NN.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrao {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/O.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrapmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/P-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraqmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/Q-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrarmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/R-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrasmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/S-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letratmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/T-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraumai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/U-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.trema {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/trema.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letravmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/V-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraxmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/X-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraymai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/Y-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrazmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/H-m.png') no-repeat center center;
    background-size: contain;
    width: 22px;
    height: 22px;
    animation: fall linear infinite;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(170vh);
    }
}


.letraamin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/a.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrabmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/b.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letracmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/c.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letradmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/d.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraemin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/e.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrafmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/f.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letragmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/g.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrahmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/h.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraihmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/i.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrajmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrakmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/k.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letralmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/l.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrammin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/m.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letranmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/n.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrannmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/nnn.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}


.letrarmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/r.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrasmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/s.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letratmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/t.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letravmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/v.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letraxmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/x.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.letrazmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/z.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russoa {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-1.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russob {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-2.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russoc {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-3.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russod {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-4.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russoe {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-5.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russof {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-6.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russog {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-7.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russoh {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-8.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.russoi {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/rs-9.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.japonesaa {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j-1.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.japonesab {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j-2.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.japonesac {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j-3.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.japonesad {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j-4.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.japonesae {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j-5.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.japonesaf {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j-6.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.japonesag {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/j-7.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.lpolmai {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/l-1.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}

.lpolmin {
    position: absolute;
    background: transparent url('../../../../images/animacoes/letras/l-2.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
    animation: fall linear infinite;
    pointer-events: none;
}