* {
    margin: 0;
    padding: 0;
    font-family: century;
}

@font-face {
    font-family: century;
    src: url(../../../../arquivos/century-gothic.ttf);
}

body {
    background-image: url(../../../../images/bg/xd.png);
    background-size: 120px;
}

.intro {
    margin-left: 5px;
    position: relative;
    top: 5px;
    text-align: center;
}

p {
    font-weight: bold;
}

.conjunto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 35px;
    border: 1px solid black;
    width: 90px;
}

.casa {
    margin-left: 20px;
}

footer {
    position: relative;
    top: 110px;
    color: transparent;
    user-select: none;
}

.basedobotao > a {
    transition: all .3s;
}

.basedobotao > a:hover {
    transition: all .3s;
    transform: scale(1.1);
}

.bloco {
    background-color: turquoise;
    height: 40px;
    width: 500px;
}

.conteudo {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border: #004c63da solid 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
    transition: all .3s;
}

.titulo {
    cursor: pointer;
    background-color: #004c63;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    filter: drop-shadow(1px 1px 2px black);
    position: relative;
    top: 15px;
}

.titulo:hover {
    background-color: #327b92;
}

.basedobotao {
 position: relative;
 top: 20px;
 display: flex;
 text-align: center;
 align-items: center;
 justify-content: center;
 margin-bottom: 10px;
}