* {
    margin: 0;
    padding: 0;
    font-family: century;
}

@font-face {
    font-family: century;
    src: url(../../arquivos/century-gothic.ttf);
}

body {
    background-color: black;
}

.circolo {
    display: flex;
    justify-content: center;
}

.circulo {
    background-color: rgb(72, 52, 52);
    position: relative;
    padding: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    animation: blackHole 4s linear infinite;
}

@keyframes blackHole {
    0% {
        width: 200px;
        height: 200px;
        opacity: 1;
    }
    50% {
        width: 220px;
        height: 220px;
        opacity: 0.9;
    }
    100% {
        width: 200px;
        height: 200px;
        opacity: 1;
    }
}
.fora {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea {
    resize: none;
    margin-top: 10px;
}

label {
    margin-top: 10px;
}

button {
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all .4s;
    margin-top: 20px;
}

button:hover {
    background-color: grey;
    transform: scale(1.04);
    transition: all .4s;
}

body {
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #222;
    overflow: hidden;
}

.element {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 999;
    animation: spiral 4s linear infinite, fadeOut 4s 2s forwards;
    border-radius: 50%;
}

@keyframes spiral {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(720deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        display: none;
    }
}

#divErro {
    font-size: 10px;
    margin-left: 0;
    color: red;
    text-align: center;
}

.basebotao {
    z-index: 999;
    position: relative;
    top: -400px;
    margin-left: 100px;
    animation-name: flutuando;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes flutuando {
    0% {
        top: -430px;
    }
    100% {
        top: -380px;
    }
}

.basecasa {
    float: right;
    position: relative;
    top: -360px;
    margin-right: 100px;
    animation-name: flutuando2;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes flutuando2 {
    0% {
        top: -360px;
    }
    100% {
        top: -410px;
    }
}

.basebotoes {
    display: none;
}